$primaryColor: #0379ca;
$secondaryColor: #363636;
$accentColor1: #9899a1;
$accentColor2: #edf1f4;
body {
  font-family: "Open Sans", serif;
  background-color: #f9fafb;
}
.Product {
  margin: 0 160px 0 160px;
  display: flex;
}
.leftProduct_item {
  margin-right: 24px;
  width: 548px;
  display: flex;
  flex-direction: column;
  align-items: center;
  &-img {
    width: 548px;
    height: 592px;
    object-fit: cover;
    margin-bottom: 24px;
  }
  &-imgbottom {
    width: 110px;
    height: 104px;
    object-fit: cover;
    margin-right: 30px;
    &:last-child {
      margin-right: 0px;
    }
  }
}
.rightProduct_info {
  width: 732px;
  background-color: #fff;
  padding-left: 40px;
  box-shadow: 0 0 35px 0px, 4px rgba(0, 0, 0, 0.02);
  &-title {
    color: $secondaryColor;
    font-size: 40px;
    line-height: 60px;
    margin: 24px 0 12px 0;
  }
}
