$primaryColor: #0097fe;
$secondaryColor: #363636;
$accentColor1: #9899a1;
$accentColor2: #edf1f4;
h1,
h2,
h3,
h4,
h5,
p {
  color: $secondaryColor;
}
h2 {
  font-size: 24px;
}
body {
  font-family: "Open Sans", serif;
  background-color: #f9fafb;
}
.Product {
  margin: 0 160px 0 160px;
  display: flex;
}
.leftProduct_item {
  margin-right: 24px;
  width: 548px;
  display: flex;
  flex-direction: column;
  align-items: center;
  &-img {
    width: 548px;
    height: 592px;
    object-fit: cover;
    margin-bottom: 24px;
  }
  &-imgbottom {
    width: 110px;
    height: 104px;
    object-fit: cover;
    margin-right: 30px;
    &:last-child {
      margin-right: 0px;
    }
  }
}
.rightProduct_info {
  width: 732px;
  background-color: #fff;
  padding: 0 48px 0 48px;
  box-shadow: 0 0 35px rgba(0, 21, 181, 0.02);
  border-radius: 12px;
  &-description {
    display: flex;
    font-display: row;
    align-items: center;
  }
  &-title {
    color: $secondaryColor;
    font-size: 40px;
    line-height: 60px;
    margin: 24px 0 12px 0;
  }
  &-desc {
    display: inline-block;
    margin: 0 0 0 16px;
    color: $accentColor1;
  }
  &-memory {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 148px;
    border: 1.5px solid $accentColor1;
    border-radius: 16px;
    margin-right: 20px;
    &:last-child {
      margin-right: 0px;
    }
    &:hover {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 148px;
      border: 4px solid $accentColor1;
    }
  }
  &-chooseMemory {
    display: flex;
    justify-content: space-evenly;
  }

  &-color {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 148px;
    border: 1.5px solid $accentColor1;
    padding: 8px 0 8px 0;
    border-radius: 16px;
  }
  &-firstRow {
    display: flex;
    margin-bottom: 12px;
    justify-content: space-evenly;
    gap: 20px;
  }
  &-secondRow {
    display: flex;
    margin-bottom: 12px;
    justify-content: space-evenly;
    gap: 20px;
  }

  &-choose {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 192px;
    justify-content: space-around;
    border: 1.5px solid $accentColor1;
    border-radius: 16px;
  }
  &-amount {
    display: flex;
    justify-content: space-evenly;
  }
  &-tax {
    margin-left: 120px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
  }
}
///exception
.title1 {
  margin: 36px 0 24px 0;
}
.title2 {
  margin-top: 40px;
}
.title3 {
  margin-top: 40px;
}
.memory {
  margin: 0px 0 0 0;
  font-size: 16px;
  font-weight: 600;
}
.color {
  margin: 0px 0 0 0;
  font-size: 16px;
  font-weight: 600;
}
.price {
  margin: 8px 0 0px 0;
  color: $accentColor1;
  font-size: 14px;
}
.colorCircle {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #fa1937;
  margin-right: 8px;
}
.colorCircle1 {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #ffd836;
  margin-right: 8px;
}
.colorCircle2 {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #47e397;
  margin-right: 8px;
}
.colorCircle3 {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #191a1a;
  margin-right: 8px;
}
.colorCircle4 {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #9c74e4;
  margin-right: 8px;
}
.colorCircle5 {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #fff6de;
  margin-right: 8px;
}
.minusButton {
  width: 32px;
  height: 32px;
  object-fit: cover;
  padding: 8px;
  background-color: #f3f3f3;
  border-radius: 50%;
  border: 1px solid #f4f4f4;
}
.addButton {
  width: 32px;
  height: 32px;
  object-fit: cover;
  padding: 8px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 1px solid #f4f4f4;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}
.amountNumber {
  font-size: 24px;
  font-weight: 600;
}
.variablePrice {
  font-size: 20px;
  color: $accentColor1;
  margin: 8px 0 0 0;
}
.variableTax {
  font-size: 20px;
  color: $accentColor1;
  margin: 8px 0 8px 0;
}

.resumeLine {
  width: 100%;
  height: 3px;
  background-color: $accentColor1;
  opacity: 0.3;
  margin-top: 36px;
}
.resumePrice {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &-title {
    font-size: 20px;
    color: $accentColor1;
  }
  &-price {
    font-size: 40px;
    color: $primaryColor;
  }
}
.purchaseButton {
  &-buy {
    font-size: 24px;
    font-weight: 500;
    color: #fff;
    width: 100%;
    height: 60px;
    background-color: $primaryColor;
    border: none;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    margin-bottom: 20px;
  }
  &-buy:hover {
    background-color: #0379ca;
    transition: all 0.25s ease;
  }
  &-addToCast {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 500;
    color: $primaryColor;
    width: 100%;
    height: 60px;
    background-color: #fff;
    border: 2px solid $primaryColor;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
  }
}
.name {
  font-size: 24px;
  font-weight: 500;
  color: $primaryColor;
}
.cast {
  width: 28px;
  height: 28px;
  object-fit: cover;
  text-align: center;
  margin-left: 8px;
}
.banner {
  width: 100%;
  height: 106px;
  object-fit: cover;
  border-radius: 4px;
  margin-top: 32px;
}
